@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Dancing+Script:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Caveat', sans-serif;
    font-weight: 300;
    color: gray;
    font-size: 130%;
}

h1, h2 {
    font-family: 'Dancing Script', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #3a3a3a;    
}

body {
    background-color: blanchedalmond;
}

/* Styling for the logo and nav bar */

#logo {
    float: left;
    font-size: 300%;
    margin-left: 30px;
}

#menu {
    font-size: 175%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

p {
    font-size: 130%;
}

/* Styling for the main image on the index.html page */

#cover-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-image {
    height: 600px;
    width: 100%;
    background: url(../images/cover-image2.jpg) no-repeat center center;

    animation-name: cover-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;

}

@keyframes cover-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

/* Styling for text beneath the cover image */

#restaurant-ethos {
    text-align: center;
    font-size: 120%;
}

#welcome {
    font-size: 200%;
    margin: 20px 0;
}

#left-about {
    /*
    float: left;
    width: 50%;
    */
    /* padding-top: 30px; */
    /*
    background: url(../images/left-about-image.jpg) no-repeat center center;
    */
}

#right-about {
    /*
    float: right;
    width: 50%;
    */
    /* padding-top: 30px; */
    /*
    background: url(../images/right-about-image.jpg)  no-repeat center center;
    */
}

#center-about {
    /*
    margin: 0 auto;
    width: 100%;
    */
    /* padding-top: 30px; */
    /*
    background: url(../images/center-about.jpg)  no-repeat center center;
    */
}

#opening-times {
    padding: 50px;
    font-size: 150%;
}

#opening-times-header {
    text-align: center;
}

#opening-times div {
    float: left;
    width: 14.2%;
    font-size: medium;
    text-align: center;
}


/* styling for about.html */

#about-main {
    text-align: center;
    font-size: 120%;
}

#about-text-header > p {
    font-size: 140%;
}

/* Styling for the main image on the about.html page */

#about-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#about-image {
    height: 600px;
    width: 100%;
    background: url(../images/left-about-image.jpg) no-repeat center center;

    animation-name: about-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;

}

@keyframes about-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}


/* Styling for gallery.html */

#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#photos > img {
    width: 100%;
}

/* Styling for contact-us.html */

label {
    display: block;
    position: relative;
    text-align: left;
    width: 100px;
    margin: auto;
}

#contact-us-main {
    text-align: center;
    padding-top: 100px;
}

input[type=text] {
    border: none;
    border-bottom: 2px solid #3a3a3a;
}

input[type=email] {
    border: none;
    border-bottom: 2px solid #3a3a3a;
}
